body {
  font-family: Arial, sans-serif;
  padding: 20px;
  font-size: 20px; /* większa czcionka domyślnie */
}

h1 {
  font-size: 26px;
}

button {
  padding: 14px;
  margin-top: 15px;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
}

select {
  display: block;
  margin-top: 8px;
  margin-bottom: 18px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
}

.hidden {
  display: none;
}

/* Mobilne – jeszcze większa czcionka */
@media (max-width: 600px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 30px;
  }

  button {
    font-size: 22px;
  }

  select {
    font-size: 22px;
  }
}
